*{
    box-sizing: border-box;
}


#otsideBox{

    border: 5px solid hotpink;
    display: inline-block;
}

#Box-1{
   
    background-color: #badc58 ;
    height: 200px;
    width: 200px;
    margin-left: 600px;
}

   
#Box-2{

    background-color: #badc58 ;
    height: 200px;
    width: 200px;
    border: 4px solid #00a8ff;
    margin-left: 400px;

}

#Box-3{
   
    background-color: #badc58 ;
    height: 200px;
    width: 200px;
    margin-left: 200px;
}

#Box-4{
   
    background-color: #badc58 ;
    height: 200px;
    width: 200px;
    border: 4px solid #00a8ff;
    margin-left: 0px;
   
}


   #Box-5{
   
    background-color: gold ;
    height: 200px;
    width: 200px;
    border: 3px solid tomato;
    margin-left: 0px;
   
}

#Box-6{
   
    background-color:gold ;
    height: 200px;
    width: 200px;
    border: 3px solid tomato;
   
   
   
}

#Box-7{
   
    background-color: gold ;
    height: 200px;
    width: 200px;
    border: 3px solid tomato;
    
   
}

#Box-8{
   
    background-color: gold ;
    height: 200px;
    width: 200px;
    border: 3px solid tomato;
   
   
}

.Box-Red{
   
    background-color: tomato ;
    height: 200px;
    width: 200px;

   
}

.flex {

    display: flex;
  
    
}








